function encodeQueryComponent(value) {
  return encodeURIComponent(value).replace(/[!'()*]/g, function (character) {
    return '%' + character.charCodeAt(0).toString(16).toUpperCase();
  });
}

function serializeQueryString(querystring) {
  var parts = [];
  var names = Object.keys(querystring).sort();

  for (var nameIndex = 0; nameIndex < names.length; nameIndex += 1) {
    var name = names[nameIndex];
    var parameter = querystring[name];
    var values = parameter.multiValue || [parameter];

    for (var valueIndex = 0; valueIndex < values.length; valueIndex += 1) {
      parts.push(
        encodeQueryComponent(name) + '=' + encodeQueryComponent(values[valueIndex].value)
      );
    }
  }

  return parts.join('&');
}

function handler(event) {
  var request = event.request;
  var query = serializeQueryString(request.querystring || {});
  var location = 'https://${target_hostname}' + request.uri;

  if (query.length > 0) {
    location += '?' + query;
  }

  return {
    statusCode: 308,
    statusDescription: 'Permanent Redirect',
    headers: {
      location: { value: location },
      'cache-control': { value: 'public, max-age=300' }
    }
  };
}
